/.svn/pristine/ff/*.svn-base
/.svn/pristine/f7/*.svn-base
/.svn/pristine/f0/*.svn-base
/.svn/pristine/ee/*.svn-base
/.svn/pristine/e9/*.svn-base
/.svn/pristine/e7/*.svn-base
/.svn/pristine/e3/*.svn-base
/.svn/pristine/d8/*.svn-base
/.svn/pristine/d7/*.svn-base
/.svn/pristine/d5/*.svn-base
/.svn/pristine/d4/*.svn-base
/.svn/pristine/c8/*.svn-base
/.svn/pristine/c1/*.svn-base
/.svn/pristine/bd/*.svn-base
/.svn/pristine/b7/*.svn-base
/.svn/pristine/b6/*.svn-base
/.svn/pristine/b0/*.svn-base
/.svn/pristine/aa/*.svn-base
/.svn/pristine/a3/*.svn-base
/.svn/pristine/a2/*.svn-base
/.svn/pristine/9e/*.svn-base
/.svn/pristine/98/*.svn-base
/.svn/pristine/96/*.svn-base
/.svn/pristine/8a/*.svn-base
/.svn/pristine/85/*.svn-base
/.svn/pristine/7d/*.svn-base
/.svn/pristine/74/*.svn-base
/.svn/pristine/6a/*.svn-base
/.svn/pristine/66/*.svn-base
/.svn/pristine/65/*.svn-base
/.svn/pristine/62/*.svn-base
/.svn/pristine/5f/*.svn-base
/.svn/pristine/5e/*.svn-base
/.svn/pristine/5a/*.svn-base
/.svn/pristine/51/*.svn-base
/.svn/pristine/4f/*.svn-base
/.svn/pristine/47/*.svn-base
/.svn/pristine/45/*.svn-base
/.svn/pristine/40/*.svn-base
/.svn/pristine/3f/*.svn-base
/.svn/pristine/3a/*.svn-base
/.svn/pristine/2e/*.svn-base
/.svn/pristine/26/*.svn-base
/.svn/pristine/24/*.svn-base
/.svn/pristine/21/*.svn-base
/.svn/pristine/1e/*.svn-base
/.svn/pristine/1d/*.svn-base
/.svn/pristine/1b/*.svn-base
/.svn/pristine/0f/*.svn-base
/.svn/pristine/06/*.svn-base
/.svn/pristine/04/*.svn-base
/SReporter/obj/Debug/*.cache
/SReporter/obj/Debug/*.Cache
/SReporter.Tester/obj/Debug/*.cache
/SReporter.Services/obj/Debug/*.cache
/SReporter.Object/obj/Debug/*.cache
/SReporter.Email/obj/Debug/*.cache
/SReporter.DataAccess/obj/Debug/*.cache
/SReporter.Configuration/obj/Debug/*.cache
/SReporter.BL/obj/Debug/*.cache
/SReporter/obj/Debug/*.exe
/SReporter/bin/Debug/*.exe
/SReporter.Tester/obj/Debug/*.exe
/SReporter.Tester/bin/Debug/*.exe
/SReporter/bin/Debug/*.dll
/SReporter.Tester/bin/Debug/*.dll
/SReporter.Services/obj/Debug/*.dll
/SReporter.Services/bin/Debug/*.dll
/SReporter.Object/obj/Debug/*.dll
/SReporter.Object/bin/Debug/*.dll
/SReporter.Email/obj/Debug/*.dll
/SReporter.Email/bin/Debug/*.dll
/SReporter.DataAccess/obj/Debug/*.dll
/SReporter.DataAccess/bin/Debug/*.dll
/SReporter.Configuration/obj/Debug/*.dll
/SReporter.Configuration/bin/Debug/*.dll
/SReporter.BL/obj/Debug/*.dll
/SReporter.BL/bin/Debug/*.dll
/packages/Ninject.3.2.2.0/lib/sl5/*.dll
/packages/Ninject.3.2.2.0/lib/sl4/*.dll
/packages/Ninject.3.2.2.0/lib/sl4-windowsphone71/*.dll
/packages/Ninject.3.2.2.0/lib/sl3/*.dll
/packages/Ninject.3.2.2.0/lib/sl3-wp/*.dll
/packages/Ninject.3.2.2.0/lib/sl2/*.dll
/packages/Ninject.3.2.2.0/lib/net45-full/*.dll
/packages/Ninject.3.2.2.0/lib/net40/*.dll
/packages/Ninject.3.2.2.0/lib/net35/*.dll
/packages/CsvHelper.2.13.2.0/lib/portable-net40+sl5+win8+wpa+wp8/*.dll
/packages/CsvHelper.2.13.2.0/lib/net40-client/*.dll
/packages/CsvHelper.2.13.2.0/lib/net35-client/*.dll
/packages/CsvHelper.2.13.2.0/lib/net20/*.dll
/.svn/*.db-journal
/.svn/*.db
/SReporter/obj/Debug/*.pdb
/SReporter/bin/Debug/*.pdb
/SReporter.Tester/obj/Debug/*.pdb
/SReporter.Tester/bin/Debug/*.pdb
/SReporter.Services/obj/Debug/*.pdb
/SReporter.Services/bin/Debug/*.pdb
/SReporter.Object/obj/Debug/*.pdb
/SReporter.Object/bin/Debug/*.pdb
/SReporter.Email/obj/Debug/*.pdb
/SReporter.Email/bin/Debug/*.pdb
/SReporter.DataAccess/obj/Debug/*.pdb
/SReporter.DataAccess/bin/Debug/*.pdb
/SReporter.Configuration/obj/Debug/*.pdb
/SReporter.Configuration/bin/Debug/*.pdb
/SReporter.BL/obj/Debug/*.pdb
/SReporter.BL/bin/Debug/*.pdb
/packages/CsvHelper.2.13.2.0/lib/portable-net40+sl5+win8+wpa+wp8/*.pdb
/packages/CsvHelper.2.13.2.0/lib/net40-client/*.pdb
/packages/CsvHelper.2.13.2.0/lib/net35-client/*.pdb
/packages/CsvHelper.2.13.2.0/lib/net20/*.pdb
/SReporter/bin/Debug/*.manifest
/.svn/format
/.svn/entries
/SReporter/obj/Debug/*.txt
/SReporter.Tester/obj/Debug/*.txt
/SReporter.Services/obj/Debug/*.txt
/SReporter.Object/obj/Debug/*.txt
/SReporter.Email/obj/Debug/*.txt
/SReporter.DataAccess/obj/Debug/*.txt
/SReporter.Configuration/obj/Debug/*.txt
/SReporter.BL/obj/Debug/*.txt
/.vs/SReporter/v14/*.suo
